langchain>=0.2.0
langchain-community>=0.2.0
langchain-anthropic>=0.1.15
langchain-core>=0.2.0
faiss-cpu
pypdf
streamlit
python-dotenv
sentence-transformers
unstructured
networkx
llama-parse
llama-index-core
lark
streamlit-feedback
